.footer {
    height: 50px;
    color: #fff;
    background: rgb(42, 126, 142);
    font-size: 14px;

    a:visited {
        color: #fff;
    }
}

.container {
    display: block;
    position: relative;
}

.gh {
    height: 30px;
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}
