.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    margin-top: 20px;
    color: #2a7e8e;
    font-size: 28px;
    border: 1px solid #fff;
    padding: 20px;

    .clicker {
        display: flex;
        align-items: center;
    }

    input {
        // float: left;
        margin-left: 20px;
        margin-top: 10px;
        width: 50px;
        padding: 2px;
    }

    button {
        // float: left;
        margin-left: 20px;
        padding: 4px;
        height: 50px;
        width: 80px;
    }

    p {
        font-size: 16px;
        color: #333;
        margin-top: 20px;
    }
}

